[submodule "emacs.d/qelpa/verilog-mode"]
	path = emacs.d/qelpa/verilog-mode
	url = https://github.com/veripool/verilog-mode.git
[submodule "vim/pack/syntax/start/verilog_systemverilog.vim"]
	path = vim/pack/syntax/start/verilog_systemverilog.vim
	url = https://github.com/vhda/verilog_systemverilog.vim.git
[submodule "vim/pack/plugin/start/tabular"]
	path = vim/pack/plugin/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/color/start/vim-colors-solarized"]
	path = vim/pack/color/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/syntax/opt/vim-antlr"]
	path = vim/pack/syntax/opt/vim-antlr
	url = https://github.com/dylon/vim-antlr.git
[submodule "vim/pack/plugin/start/vim-matchit"]
	path = vim/pack/plugin/start/vim-matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule "vim/pack/plugin/start/vim-surround"]
	path = vim/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugin/legacy/vim-pathogen"]
	path = vim/pack/plugin/legacy/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
